#title
{
    background-color:#ff4c68;
    color:#fff;
    padding-bottom:80px;
    
}
h1
{
    font-family: 'Montserrat-black', sans-serif;
    font-size:4rem;
    font-weight: bolder;
    line-height:1.5;
    color:aliceblue;
}
.container-fluid
{
    padding:3% 15%;
}
body{
    font-family: 'Montserrat';
}
.btn
{
    margin-top:1rem;
    margin-right:2rem;
}
.image
{
    width:60%;
    transform: rotate(25deg);
    position:absolute;
    left:100px;
    
}
h3{
    font-family:'montserrat-bold';
    font-weight: bolder;
    text-align:center;
}
#features
{
    background-color:#fff;
    padding:7% 15%;
    position:relative;
    
}
#testimonials
{
     padding:5% 0 5%;
    text-align:center;
    background-color: #ef8172;
    color:#fff;
}
.testi
{
    width:10 px;
    
    height:20%;
}
h2{
    font-family: 'Montserrat-black', sans-serif;
    font-size:3rem;
    line-height:1.5;
}
#press
{
    background-color: #ef8172;
    padding:3% 0;
    text-align: center;
}
.tags
{
    width:15%;
    margin:0 2%;
}
#pricing
{
    padding:100px;
    text-align:center; 
}
.center
{
    padding-left:100px;
    margin-bottom: 32px;
}
#footer
{
    background-color:
}
@media (max-width:1200px)
{
    .image
    {
        position:static;
        transform: rotate(0);
    }
    #title
    {
        text-align: center;
    }
}
.twit
{
    width:10%;
    height:2%;
}


   

     
    
    